/*スペースの下の方は別にいらない*/
.slid {
	border: #5d5d5d 10px solid;
	width: 500px;
	height: 318px;
	margin: 20px;
}
.slid img {
	border: white 5px solid;
}




main > div > ul > li {  
    border:1px solid red;
}
#contents li {
    display: none;
    position: relative;
    
    
    
    
    width: 200px;
    height: 200px;
}
#contents li.on {
    display: block;
    
    
    
    background-color: cyan;
}
/*-----------------------------------*/
main > div > div {
    display: none;
    
    
    
    background-color: cyan;
}
main > div > div.on {
    display: block;
}

/*-------------------------
main
--------------------------*/
#contents {
	border: #5d5d5d 10px solid;
	width: 500px;
	height: 318px;
	margin: 20px;
}
#contents img {
	border: white 5px solid;
}

/*------artist------*/
#artist img {
	border: #606060 5px solid;
	width: 294px;
	float: left;
	margin: 0 15px 15px 0;
}
#artist h2,
#namebox h2 {
	padding-bottom: 15px;
}
#name1,
#name2 {
	width: 400px;
	float: left;
}
#name1 {
	padding-bottom: 106px;
	margin-right: 50px;
}
#namebox h3 {
	padding: 20px 0;
}
#namebox {
	width: 914px;
	margin: auto;
	margin-bottom: 50px;
	overflow: hidden;
}
/*--------map-------*/
#map img {
	width: 400px;
	border: 1px solid #717171;
	float: left;
}
.store:after {
	clear: both;
	display: block;
	content: "";
}
#map h2 {
	padding: 10px;
}
#map span {
	font-size: 10px;
	padding: 0 10px;
}
.store {
	*zoom: 1;
	padding: 20px;
	border: 1px solid red;
}
.store ul {
	width: 400px;
	float: left;
	border: 1px solid red;
}
.store li {
	margin-left: 10px;
}

/*-------Success------*/
#success {
	overflow: hidden;
}
#success h2 {
	padding: 10px;
}
#success img {
	margin: 10px;
}
.map1 img {
	width: 450px;
	float: left;
}
.map2 img {
	width: 400px;
	float: left;
	margin-left: 10px; 
}
.map {
	margin: 100px 10px;
	float: left;
	width: 410px;
}
.map3,.map4 {
	width: 400px;
	margin: 20px;
	float: left;
	text-align: center;
}
/*--------time---------*/
#day1 h2,
#day2 h2 {
	margin-bottom: 20px;
}
#day1 h3,
#day2 h3 {
	margin-bottom: 20px;
}
dl {
	border: 1px solid #333;
	border-top: none;
	width: 580px;
	margin-left: 50px;
	margin-bottom: 30px;
	background-color: #dae0f0;
}
dt,
dd {
	padding: 5px;
}
dt {
	width: 65px;
	clear: left;
	float: left;
	border-top: 1px solid #717171
}
dd {
	border-left: 1px solid #717171;
	border-top: 1px solid #717171;
	margin-left: 75px;
	background: #fff;
}
/*-----------lot-----------*/
#lot p {
	padding: 10px 0;
}
#lot img {
	width: 400px;
	float: left;
	margin-right: 20px;
	border: #606060 5px solid;
}
#lot {
	overflow: hidden;
}